spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate.format_sql: false
    show-sql: true

  redis:
    host: localhost
    port: 6379
  cache:
    redis:
      time-to-live: 60000 # 1 min
      key-prefix: "sda::"
